example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://assets.epicurious.com/photos/63e54a0664e14d52936a2937/16:9/w_2560%2Cc_limit/CoffeeSubscriptions_IG_V1_030922_6350_V1_final.jpg');
    background-size: cover;
  }

img{
  width:80%;
  margin-left: 10%;
}