<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{data.blend_name}}</mat-card-title>
      <mat-card-subtitle>{{data.origin}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://images.squarespace-cdn.com/content/v1/5ef389ef91512071d690247a/1608257808366-09UQ2N4M58P8VQF9WCIC/Coffee+Beans.png?format=1500w" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>ID: {{data.id}} UID:{{data.uid}}</p>
      <mat-card-subtitle>Notes: {{data.notes}} </mat-card-subtitle>
      <mat-card-subtitle>Intensifier : {{data.intensifier}}</mat-card-subtitle>
      <mat-card-subtitle>Variety: {{data.variety}}</mat-card-subtitle>
    </mat-card-content>
  </mat-card>
